.container-footer {
  width: 100%;
  height: auto;
  padding: 60px 60px 15px 60px;
  display: flex;
  justify-content: space-between;
}

h3 {
  color: var(--main-blue);
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-footer {
  color: var(--main-blue);
  line-height: 30px;
  font-size: 14px;
}

@media (max-width: 500px) {
  .container-footer {
    justify-content: center;
    padding: 40px 0px 15px 40px;
  }

  h3 {
    margin: 40px, 0;
  }
  .p-footer {
    font-size: 12px;
    line-height: 20px;
  }
}

@media (max-width: 850px) {
  .container-footer {
    flex-wrap: wrap;
  }
}
