* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Argentum Sans, Regular;
  outline: 0;
}

:root {
  --main-blue: #005bd5;
  --dark-blue: #002e6b;
  --dark-gray: #8b8b8b;
  --light-gray: #eeeeee;
}
