.imageBanner {
  width: 100%;
  height: 80vh;
  background-image: (url(../../assets/banner.png));
  background-repeat: no-repeat;
  background-size: cover;
}

.elementBanner {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 30px;
}

h1 {
  width: 40%;
  font-size: 55px;
  color: var(--main-blue);
  margin-bottom: 20px;
}

.elementBanner input {
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 35px;
    width: 90%;
  }

  .imageBanner {
    background-position: 50%;
  }
}
