.container-ourWall {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
  display: flex;
  padding: 40px 0;
}

.text-ourWall {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    font-size: 17px;
    color: var(--dark-gray);
    text-align: center;
  }

  h2 {
    font-size: 40px;
    color: var(--dark-gray);
    width: 50%;
    text-align: center;
    margin-bottom: 20px;
  }
}

.box-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px;
  padding-bottom: 40px;

  img {
    width: calc(100% / 3.2);
    height: 250px;
    margin: 10px;
  }
}

.container-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.box-color-gray:nth-child(odd) {
  width: calc(100% / 5);
  height: 250px;
  background: var(--light-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;

  p {
    color: var(--main-blue);
    font-size: 15px;
    font-weight: bold;
    width: 40%;
  }

  img {
    width: 50%;
    height: 30%;
    margin-bottom: 20px;
  }
}

.box-color-blue:nth-child(even) {
  width: calc(100% / 5);
  height: 250px;
  background: var(--main-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;

  p {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    width: 55%;
  }

  img {
    width: 50%;
    height: 30%;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .container-ourWall {
    max-width: 100%;
    justify-content: center;
    margin: 0;
  }
  .text-ourWall {
    width: 100%;

    h2 {
      width: 70%;
    }
  }
  .box-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 50%;
      margin: 5px;
    }
  }
  .container-info {
    width: 100%;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
  }
  .box-color-gray:nth-child(odd) {
    width: 45%;
    height: 120px;
    margin: 0;
    p {
      font-size: 10px;
      width: 100%;
    }
  }
  .box-color-blue:nth-child(even) {
    width: 45%;
    height: 120px;
    margin: 0;
    p {
      font-size: 10px;
      width: 100%;
    }
  }
}

@media (max-width: 960px) {
  .box-grid {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .container-info {
    padding: 20px;
  }

  .box-color-gray:nth-child(odd) {
    height: 180px;
    margin: 3px;
    padding: 15px;
    p {
      font-size: 10px;
      width: 100%;
    }
  }
  .box-color-blue:nth-child(even) {
    height: 180px;
    margin: 3px;
    padding: 15px;
    p {
      font-size: 10px;
      width: 100%;
    }
  }
}
